    <!-- MOBILE MENU COVER -->
	<div class="mobile-menu-cover"></div>
	<!-- /MOBILE MENU COVER -->

	<!-- MOBILE MENU -->
	<nav class="mobile-menu">
		<img src="/images/logo-footer.png" alt="logo">
		<!-- SVG PLUS -->
		<svg class="svg-plus pull-nav">
			<use xlink:href="#svg-plus"></use>
		</svg>
		<!-- /SVG PLUS -->

		<!-- MENU LIST -->
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/shop/all/women">Women</a>
			</li>
			<li>
				<a href="/shop/all/men">Men</a>
			</li>
			<li>
				<a href="/shop/all/unisex">Unisex</a>
			</li>
			<li>
				<a href="#">Brands
					<!-- SVG ARROW -->
					<svg class="svg-arrow">
						<use xlink:href="#svg-arrow"></use>
					</svg>
					<!-- /SVG ARROW -->
				</a>
				<!-- SUBMENU LIST -->
				<ul>
					{{!-- <li>
						<a href="/shop/crazy-bunny">Crazy Bunny</a>
					</li>
					<li>
						<a href="/shop/moustache-monster">Moustache Monster</a>
					</li>
					<li>
						<a href="/shop/crazy-rockpanda">Crazy RockPanda</a>
					</li>
					<li>
						<a href="/shop/zombie-popsicle">Zombie Popsicle</a>
					</li> --}}
					{{#each navBrands}}
						<li>
							<a href="/shop/{{this.brangSlug}}">{{this.brandName}}</a>
						</li>
					{{/each}}
				</ul>
				<!-- /SUBMENU LIST -->
			</li>
				<li>
				<a href="#">Categories
					<!-- SVG ARROW -->
					<svg class="svg-arrow">
						<use xlink:href="#svg-arrow"></use>
					</svg>
					<!-- /SVG ARROW -->
				</a>
				<!-- SUBMENU LIST -->
				<ul>
					<li>
						<a href="/shop/all/all/t-shirt">T-Shirt</a>
					</li>
					<li>
						<a href="/shop/all/all/Backpack">Backpack</a>
					</li>
					<li>
						<a href="/shop/all/all/sneaker">Sneaker</a>
					</li>
					<li>
						<a href="/shop/all/all/hat">Hat</a>
					</li>
					{{#each navCates}}
						<li>
							<a href="/shop/all/all/{{this.catSlug}}">{{this.catName}}</a>
						</li>
					{{/each}}
				</ul>
				<!-- /SUBMENU LIST -->
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
			
		</ul>
		<!-- /MENU LIST -->
	</nav>
	<!-- /MOBILE MENU -->

	<!-- MAIN MENU -->
	<nav id="main-menu">
		<img class="pull-nav" src="/images/icons/pull-icon.png" alt="pull-icon">
		<ul >
			<li><a href="/">Home</a></li>
			<li>
				<a style="cursor: pointer;">Brands</a>
				<!-- SUBMENU MEDIUM -->
				<ul class="submenu-medium">
					<li>
						{{!-- <!-- SUBMENU LIST -->
						<article class="submenu-list">
							<a href="/shop/crazy-bunny" class="my-brand-logo">
								<img src="/images/brands/cb.png" alt="">
								<h6>Crazy Bunny</h6>
							</a>
							
						</article>
						<!-- /SUBMENU LIST -->

						<!-- SUBMENU LIST -->
						<article class="submenu-list">
							<a href="/shop/moustache-monster" class="my-brand-logo">
								<img src="/images/brands/mm.png" alt="">
								<h6>Moustache Monster</h6>
							</a>
							
						</article>
						<!-- /SUBMENU LIST -->

						<!-- SUBMENU LIST -->
						<article class="submenu-list double">
							<a href="/shop/crazy-rockpanda" class="my-brand-logo">
								<img src="/images/brands/cr.png" alt="">
								<h6>Crazy RockPanda</h6>
							</a>
							
						</article>
						<!-- /SUBMENU LIST -->

                        <!-- SUBMENU LIST -->
						<article class="submenu-list double">
							<a href="/shop/zombie-popsicle" class="my-brand-logo">
								<img src="/images/brands/zp.png" alt="">
								<h6>Zombie Popsicle</h6>
							</a>
						</article>
						<!-- /SUBMENU LIST --> --}}
						{{#each navBrands}}
							<article class="submenu-list double">
							<a href="/shop/{{this.brandSlug}}" class="my-brand-logo">
								<img src="{{this.brandImage}}" alt="">
								<h6>{{this.brandName}}</h6>
							</a>
						</article>
						{{/each}}
					</li>
				</ul>
				<!-- /SUBMENU MEDIUM -->
			</li>
			<li>
				<a style="cursor: pointer;">Categories</a>
				<!-- SUBMENU MEDIUM -->
				<ul class="submenu-medium">
					<li>
						{{!-- <!-- SUBMENU LIST -->
						<article class="submenu-list">
							<a href="/shop/all/all/t-shirt" class="my-brand-logo">
								<img src="/images/categories/t-shirt.png" alt="">
								<h6>T-Shirt</h6>
							</a>
							
						</article>
						<!-- /SUBMENU LIST -->

						<!-- SUBMENU LIST -->
						<article class="submenu-list">
							<a href="/shop/all/all/backpack" class="my-brand-logo">
								<img src="/images/categories/backpack.png" alt="">
								<h6>Backpack</h6>
							</a>
							
						</article>
						<!-- /SUBMENU LIST -->

						<!-- SUBMENU LIST -->
						<article class="submenu-list double">
							<a href="/shop/all/all/hat" class="my-brand-logo">
								<img src="/images/categories/cap.png" alt="">
								<h6>Cap</h6>
							</a>
							
						</article>
						<!-- /SUBMENU LIST --> --}}

                        <!-- SUBMENU LIST -->
						{{!-- <article class="submenu-list double">
							<a href="/shop/all/all/sneaker" class="my-brand-logo">
								<img src="/images/categories/sneaker.png" alt="">
								<h6>Sneaker</h6>
							</a>
						</article> --}}
						<!-- /SUBMENU LIST -->
						{{#each navCates}}
							<article class="submenu-list double">
							<a href="/shop/all/all/{{this.catSlug}}" class="my-brand-logo">
								<img src="{{this.catImage}}" alt="">
								<h6>{{this.catName}}</h6>
							</a>
						</article>
						{{/each}}
					</li>
				</ul>
				<!-- /SUBMENU MEDIUM -->
			</li>
			<li>
				<a href="/shop/all/women">
					Women
				</a>
			</li>
			<li><a href="/shop/all/men">Men</a></li>
            <li><a href="/shop/all/unisex">Unisex</a></li>
            <li><a href="/shop">Shop</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
	<!-- /MAIN MENU -->